.Catalogs {
	overflow: scroll;
	direction: rtl;
	padding-top: 100px;
	width: 500px;
	height: 99%;
	padding-right: 30px;

	a {
		text-decoration: none;
		color: rgb(15, 17, 41);
	}

	.active-catalog {
		color: rgb(232, 242, 255);
		li {
			transform: translate(25px);
		}
	}

	ul {
		margin-top: 25px;
	}

	li {
		font-size: 65px;
		list-style-type: none;
		cursor: pointer;
		transition: 0.1s;

		&:hover {
			color: rgb(232, 245, 255);
			transform: translate(25px);
		}
	}
}
