.Catalogs {
	padding-left: 50px;
	overflow: scroll;
	direction: rtl;
	padding-top: 35px;
	width: 700px;
	height: 102%;
	padding-right: 30px;

	a {
		text-decoration: none;
		color: black;
	}

	li {
		font-size: 80px;
		list-style-type: none;
		cursor: pointer;
		transition: 0.15s;

		&:hover {
			color: white;
			text-decoration: underline;
			transform: translate(30px);
		}
	}
}
