.random-palette-card {
	margin-top: 30px;
	border-left: 5px solid rgb(36, 36, 36);
	border-right: 5px solid rgb(36, 36, 36);
	border-bottom: 5px solid rgb(36, 36, 36);
	border-top: 4px solid rgb(36, 36, 36);
	width: fit-content;
	background: rgb(36, 36, 36);
	position: relative;
	top: 0px;
	padding: 0 0px;
	height: fit-content;
	border-radius: 2px;

	h4 {
		font-size: 30px;
		color: rgb(255, 255, 255);
		font-family: 'Roboto';
		padding: 10px 0;
		width: 100%;
		text-align: left;
	}

	.colors-holder {
		box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.24);
		display: flex;
		background: rgb(85, 85, 85);
		width: fit-content;
		justify-content: center;
		border-radius: 2px;
		height: 100%;

		div {
			width: 158px;
			height: 158px;
		}
	}
}

.hide {
	display: none;
}

.show {
	height: 35px;
	width: 35px;
	background: rgba(255, 255, 255, 0.61);
	border-radius: 4px;
	margin-left: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.color-square {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: flex-start;
}

.colors-info {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	border-radius: 2px;
	height: 100%;

	p {
		width: 158px;
		color: rgb(128, 128, 128);
		font-family: 'Roboto';
		font-size: 15px;
		margin-bottom: 10px;
	}

	h5 {
		color: rgb(105, 105, 105);
		font-family: 'Roboto';
		font-size: 19px;
		margin-bottom: 20px;
		font-weight: lighter;
	}
}

@media only screen and (max-width: 835px) {
	.random-palette-card {
		margin-top: 30px;
		border-left: 5px solid rgb(36, 36, 36);
		border-right: 5px solid rgb(36, 36, 36);
		border-bottom: 5px solid rgb(36, 36, 36);
		border-top: 4px solid rgb(36, 36, 36);
		width: fit-content;
		background: rgb(36, 36, 36);
		position: relative;
		top: 0px;
		padding: 0 0px;
		height: fit-content;
		border-radius: 2px;

		h4 {
			font-size: 30px;
			color: rgb(255, 255, 255);
			font-family: 'Roboto';
			padding: 10px 0;
			width: 100%;
			text-align: left;
		}

		.colors-holder {
			box-shadow: 0 10px 15px -10px rgba(0, 0, 0, 0.24);
			display: flex;
			background: rgb(85, 85, 85);
			width: fit-content;
			justify-content: center;
			border-radius: 2px;
			height: 100%;

			div {
				width: 120px;
				height: 120px;
			}
		}
	}

	.colors-info {
		margin-top: 10px;
		display: flex;
		justify-content: center;
		border-radius: 2px;
		height: 100%;

		p {
			width: 120px;
			color: rgb(92, 92, 92);
			font-family: 'Roboto';
			font-size: 12px;
			margin-bottom: 10px;
		}

		h5 {
			color: rgb(73, 73, 73);
			font-family: 'Roboto';
			font-size: 15px;
			margin-bottom: 10px;
			font-weight: lighter;
		}
	}
}
