$accent: #775c54;
$accent2: #2164f3;
$text-color: #000000;
$main: #ffffff;

.NavBar {
	height: 60px;
	position: fixed;
	padding: 0 20px;
	left: 0;
	top: 0;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.13);
	backdrop-filter: blur(15px);
	background: rgba(255, 255, 255, 0.144);

	p {
		font-weight: 500;
		font-size: 25px;
		color: $accent2;
		font-weight: 600;
		letter-spacing: 0.5px;
		transition: 0.2s ease-in-out;
		cursor: default;
	}

	a {
		text-decoration: none;
	}

	h3 {
		margin-right: 57px;
		color: rgb(43, 43, 43);
		font-size: 16px;
		font-weight: 500;
		font-family: 'Roboto';
		cursor: default;
	}

	.active-title {
		color: $main;
	}

	.hamburger-menu {
		display: flex;
		position: fixed;
		right: 0;
		top: 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		width: 60px;
		height: 60px;
		transition: 0.16s;
		-webkit-tap-highlight-color: transparent;

		&:hover {
			background: $accent2;
			div {
				background: $main;
			}
		}

		div {
			height: 3px;
			width: 20px;
			background: $accent2;
			margin: 1.5px;
			transition: 0.16s;
		}
	}

	.hamburger-menu-active {
		align-items: center;
		background: $text-color;

		.bar-1 {
			height: 3px;
			width: 25px;
			background: $main;
			margin: 2px;
			position: relative;
			top: 6.5px;
			transform: rotate(-45deg);
		}

		.bar-2 {
			width: 0;
		}

		.bar-3 {
			height: 3px;
			transform: rotate(45deg);
			width: 25px;
			background: $main;
			position: relative;
			bottom: 6.5px;
			margin: 2px;
		}

		&:hover {
			background: $main;
			div {
				background: $accent2;
			}
		}
	}
}

.menu {
	background: $accent2;
	position: fixed;
	top: 100vh;
	left: 0;
	height: 100vh;
	width: 100vw;
	transition: 0.3s ease-in-out;

	.access-buttons {
		width: 100%;
		margin-top: 75px;
		height: 60px;
		display: flex;
		justify-content: flex-end;
	}

	button {
		height: 45px;
		width: 100px;
		cursor: pointer;
		margin-right: 15px;
		background: none;
		border: 1px solid $main;
		color: $main;
		border-radius: 3px;
		font-size: 18px;
		transition: 0.1s;

		&:focus {
			outline: none;
		}
	}

	.signup-button {
		background: $main;
		color: $accent;
		font-weight: 700;

		&:hover {
			background: $accent2;
			color: $main;
			border-color: $main;
		}
	}

	.login-button {
		transition: 0.1s;
		border: none;
		margin-right: 0;

		&:hover {
			color: rgb(216, 216, 216);
			transition: 0.1s;
		}
	}

	.information-area {
		height: 80%;
		width: 850px;
		padding-left: 80px;
		display: block;

		h1 {
			color: $main;
			font-size: 80px;
			font-family: 'Roboto';
			letter-spacing: -0.5px;

			span {
				border-bottom: 5px solid $accent2;
			}
		}
	}
}

.hidden-circle {
	height: 1200px;
	width: 1200px;
	background: $accent;
	position: relative;
	top: -950px;
	left: -300px;
	z-index: -1;
	border-radius: 50%;
	opacity: 0;
	transition: 0.2s;
	transition-delay: 0.2s;
}

.active-circle {
	opacity: 1;
}

.show-menu {
	top: 0px;
	transition: 0.3s ease-in-out;
}

.main-menu {
	width: 100%;
	background: $accent2;
	padding-top: 0px;
	height: 100%;
	display: flex;
	justify-content: space-between;

	.logout-text {
		position: absolute;
		bottom: 67px;
		right: 11px;
		color: black;
		z-index: 1000;
		border-radius: 50%;
		transition: 0.1s;
		opacity: 1;
		font-family: 'Roboto';
		cursor: pointer;
		padding: 4px;
		font-size: 12px;
	}
}

h2 {
	color: $main;
}

.logout-icon {
	position: absolute;
	bottom: 30px;
	right: 15px;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	transition: 0.1s;
	cursor: pointer;
	padding: 4px;

	&:hover {
		background: white;
		opacity: 0.7;
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.137);
		transform: rotate(-25deg);
	}

	&:active {
		transform: rotate(25deg);
	}
}

@media only screen and (max-width: 1100px) {
	.hidden-circle {
		height: 1200px;
		width: 1200px;
		background: $accent;
		position: relative;
		top: -950px;
		left: -300px;
		z-index: -1;
		border-radius: 50%;
		opacity: 0;
		transition: 0.2s;
		transition-delay: 0.2s;
	}

	.menu {
		.information-area {
			height: 80%;
			width: 850px;
			padding-left: 80px;
			display: block;

			h1 {
				color: $main;
				font-size: 50px;
				width: 300px;
			}
		}
	}
}

@media only screen and (max-width: 835px) {
	.hidden-circle {
		height: 1200px;
		width: 1200px;
		// background: none;
		position: relative;
		top: -950px;
		left: -300px;
		z-index: -1;
		border-radius: 50%;
		opacity: 0;
		transition: 0.2s;
		transition-delay: 0.2s;
	}
	.menu {
		.information-area {
			height: 80%;
			width: 850px;
			padding-left: 80px;
			display: block;

			h1 {
				color: $main;
				font-size: 50px;
				width: 300px;
			}
		}
	}
}
