$accent: #775c54;
$accent2: rgb(33, 100, 243);
$main: #ffffff;

.NavBar {
	height: 60px;
	position: fixed;
	padding: 0 20px;
	left: 0;
	top: 0;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1;
	box-shadow: 0 2px 15px rgba(0, 0, 0, 0.13);

	p {
		font-weight: 500;
		font-size: 25px;
		color: $accent2;
		font-weight: 600;
		letter-spacing: 0.5px;
		transition: 0.2s ease-in-out;
		transition-delay: 0.2s;
	}

	.active-title {
		color: $main;
	}

	.hamburger-menu {
		display: flex;
		position: fixed;
		right: 0;
		top: 0;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		width: 60px;
		height: 60px;
		transition: 0.16s;
		-webkit-tap-highlight-color: transparent;

		&:hover {
			background: $accent;
			div {
				background: $main;
			}
		}

		div {
			height: 3px;
			width: 20px;
			background: $accent;
			margin: 1.5px;
			transition: 0.16s;
		}
	}

	.hamburger-menu-active {
		align-items: center;
		background: $accent;

		.bar-1 {
			height: 3px;
			width: 25px;
			background: $main;
			margin: 2px;
			position: relative;
			top: 6.5px;
			transform: rotate(-45deg);
		}

		.bar-2 {
			width: 0;
		}

		.bar-3 {
			height: 3px;
			transform: rotate(45deg);
			width: 25px;
			background: $main;
			position: relative;
			bottom: 6.5px;
			margin: 2px;
		}

		&:hover {
			background: $main;
			div {
				background: $accent;
			}
		}
	}
}

.menu {
	background: $accent;
	position: fixed;
	top: 100vh;
	left: 0;
	height: 100vh;
	width: 100vw;
	transition: 0.3s ease-in-out;
	transition-delay: 0.24s;
}

.show-menu {
	top: 0px;
	transition: 0.3s ease-in-out;
}
