.PaletteCard {
	margin-top: 40px;
	cursor: pointer;
	transition: 0.1s ease-in-out;
	width: fit-content;
	background: rgba(255, 255, 255, 0.466);
	backdrop-filter: blur(10px);
	padding: 0 10px 10px 10px;
	box-shadow: 0 3.8px 2.3px rgba(0, 0, 0, 0.13),
		0 8.7px 6.3px rgba(0, 0, 0, 0.075), 0 18px 15.1px rgba(0, 0, 0, 0.052),
		0 56px 50px rgba(0, 0, 0, 0.045);
	border-radius: 2px;

	&:hover {
		margin-right: 50px;
	}

	h4 {
		font-size: 30px;
		color: rgb(64, 70, 78);
		font-family: 'Roboto';
		padding: 6px 0;
		width: 100%;
		text-align: left;
	}

	.colors {
		display: flex;
		background: rgb(85, 85, 85);
		width: fit-content;
		justify-content: center;

		div {
			width: 125px;
			height: 125px;
		}
	}
}
