.PaletteCard {
	margin-top: 40px;
	cursor: pointer;
	transition: 0.1s ease-in-out;
	width: fit-content;
	background: rgba(0, 0, 0, 0.616);
	backdrop-filter: blur(10px);
	padding: 0 10px 10px 10px;
	border-radius: 2px;

	&:hover {
		margin-right: 50px;
	}

	section {
		border-radius: 50%;
		width: 30px;
		height: 30px;
		background: rgb(228, 46, 46);
		color: black;
		position: relative;
		z-index: 20;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Roboto';
		font-weight: 700;
		transform: rotate(45deg);
		font-size: 25px;
		left: 650px;
		top: 5px;
		transition: 0.15s;

		&:hover {
			transform: rotate(120deg);
			background: rgb(230, 77, 77);
		}
	}

	h4 {
		font-size: 30px;
		color: rgb(255, 255, 255);
		font-family: 'Roboto';
		padding: 6px 0;
		width: 100%;
		text-align: left;
	}

	.colors {
		display: flex;
		background: rgb(85, 85, 85);
		width: fit-content;
		justify-content: center;

		div {
			width: 125px;
			height: 125px;
		}
	}
}
