.PaletteCard {
	margin-top: 40px;
	cursor: pointer;
	transition: 0.1s ease-in-out;
	width: fit-content;
	background: rgba(0, 0, 0, 0);
	backdrop-filter: blur(10px);
	padding: 0 10px 10px 10px;
	border-radius: 4px;

	&:hover {
		box-shadow: 0 2px 7px rgba(0, 0, 0, 0.301);

		section {
			opacity: 1;
		}
	}

	section {
		border-radius: 50%;
		width: 30px;
		opacity: 0;
		height: 30px;
		background: rgb(228, 46, 46);
		color: white;
		position: absolute;
		z-index: 20;
		display: flex;
		align-items: center;
		justify-content: center;
		font-family: 'Roboto';
		font-weight: 300;
		transform: rotate(45deg);
		font-size: 25px;
		right: 10px;
		border: 0px solid black;
		top: 8px;
		transition: 0.2s;

		&:hover {
			background: rgb(255, 106, 106);
			transition: 0.1s;
		}
	}

	h4 {
		font-size: 30px;
		color: rgb(32, 42, 95);
		font-family: 'Roboto';
		padding: 6px 0;
		width: 100%;
		text-align: left;
	}

	.colors {
		display: flex;
		background: rgb(85, 85, 85);
		width: fit-content;
		justify-content: center;
		border-radius: 3px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.267);

		div {
			width: 125px;
			height: 125px;
		}
	}
}
